<!<!DOCTYPE html>
<html>
  <body>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Trash</th>
        <th>Recycling</th>
        <th>Compost</th>
        <th>Score</th>
      </tr>
        <td>UU Chandler Lounge</td>
        <td>10</td>
        <td>3</td>
        <td>2</td>
        <td>2</td>
      <tr>
        <script>
          var name, trash, recycling, compost, score;
          name = document.getElementById("name");
          trash = 6;
          recycling = 13;
          compost = 4;
          score = 4;
          function{
            var name, trash, recycling, compost, score;

          }
        </script>
        <td>wastEd OG bin</td>
        <td>6</td>
        <td>13</td>
        <td>4</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Chumash Auditorium</td>
        <td>9</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
      </tr>
      <tr>
        <td>The Ave</td>
        <td>20</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Baker Science</td>
        <td>5</td>
        <td>8</td>
        <td>2</td>
        <td>3</td>
      </tr>
  </body>
</html>
